name: Process latest purchaes-ios release

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *' # This schedule is set to run every day at midnight. Modify as necessary.

jobs:
  check_for_updates:
    name: "Call the update-package workflow"
    uses: ./.github/workflows/check-for-update.yml
    with:
      source-repo: 'RevenueCat/purchases-ios'

  build:
    needs: check_for_updates
    if: needs.check_for_updates.outputs.needs-update == 'true'
    runs-on: ubuntu-latest
    steps:

      - name: Get latest release
        id: latest_release
        run: |
          LATEST_RELEASE=$(curl --silent "https://api.github.com/repos/RevenueCat/purchases-ios/releases/latest" | jq -r .tag_name)
          echo "VERSION=${LATEST_RELEASE}" >> $GITHUB_OUTPUT

      - name: Compare with latest release in our repo
        run: |
          NEW_VERSION="${{ steps.latest_release.outputs.VERSION }}"
          CURRENT_VERSION=$(curl --silent "https://api.github.com/repos/${{ github.repository }}/releases/latest" | jq -r .tag_name)
          if [ "$NEW_VERSION" == "$CURRENT_VERSION" ]; then
            echo "::warning::The latest release from RevenueCat/purchases-ios is already processed in our repository. Exiting the workflow."
            exit 1
          fi

      - name: Check out code
        uses: actions/checkout@v3

      - name: Download and process RevenueCat.xcframework.zip
        id: process_framework
        run: |
          curl -sLJO https://github.com/RevenueCat/purchases-ios/releases/download/${{ steps.latest_release.outputs.VERSION }}/RevenueCat.xcframework.zip
          unzip RevenueCat.xcframework.zip -d extracted
          rm RevenueCat.xcframework.zip
          mv extracted/xcframeworks/RevenueCat.xcframework ./
          rm -rf extracted
          zip --symlinks -r RevenueCat.xcframework.zip RevenueCat.xcframework

          SHA256_HASH=$(shasum -a 256 RevenueCat.xcframework.zip | cut -f 1 -d ' ')
          echo "SHA256_HASH=${SHA256_HASH}" >> $GITHUB_OUTPUT

      - name: Update Package.swift
        run: |
          sed -i.bak "s|let purchasesVersion = \".*\"|let purchasesVersion = \"${{ steps.latest_release.outputs.VERSION }}\"|g" Package.swift
          sed -i.bak "s|let purchasesChecksum = \".*\"|let purchasesChecksum = \"${{ steps.process_framework.outputs.SHA256_HASH }}\"|g" Package.swift
          rm Package.swift.bak
    
      - name: Commit and push changes
        run: |
          git config --local user.email github-actions@github.com
          git config --local user.name github-actions
          git add Package.swift
          git commit -m "Update Package.swift for release ${{ steps.latest_release.outputs.VERSION }}"
          git push
          git tag ${{ steps.latest_release.outputs.VERSION }}
          git push --tags
  
      - name: Create new release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: "${{ steps.latest_release.outputs.VERSION }}"
          release_name: "${{ steps.latest_release.outputs.VERSION }}"
          draft: false
          prerelease: false

      - name: Upload Release Assets
        run: |
          for file in RevenueCat.xcframework.zip
          do
            curl \
              -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
              -H "Content-Type: $(file -b --mime-type $file)" \
              --data-binary @"$file" \
              "https://uploads.github.com/repos/${{ github.repository }}/releases/${{ steps.create_release.outputs.id }}/assets?name=$file"
          done
